{% extends "layout/auth-form.html" %}

{% block title %}Cadastro{% endblock %}

{% block form_title %}Cadastro{% endblock %}

{% block form %}
  {% if errors %}
    {% for error in errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endfor %}
  {% endif %}
  <form class="card-text" action="/cadastro" method="POST">
    <div class="mb-3">
      <label for="nome" class="form-label">
        Nome
        <span class="text-danger">*</span>
      </label>
      <input type="text" class="form-control" name="nome" id="nome" value="{{ inputs.nome }}" />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">
        E-mail
        <span class="text-danger">*</span>
      </label>
      <input type="email" class="form-control" name="email" id="email" value="{{ inputs.email }}" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">
        Senha
        <span class="text-danger">*</span>
      </label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        value="{{ inputs.senha }}"
      />
    </div>
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-dark">Cadastrar</button>
      <a class="btn btn-light" href="/login">Realizar Login</a>
    </div>
  </form>
{% endblock %}