{% extends "layout/header.html" %} 

{% block title %}Lista de Salas{% endblock%}

{% block main %}
  <div class="container">
    <div class="row mt-4">
      <div class="col">
        <h1>Lista de Salas</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% if not salas %}
          Nenhuma sala cadastrada ainda.
        {% else %}
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Capacidade</th>
                  <th scope="col">Ativa</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for sala in salas %}
                  <tr>
                    <td>{{ sala.id }}</td>
                    <td>{{ sala.tipo }}</td>
                    <td>{{ sala.descricao }}</td>
                    <td>{{ sala.capacidade }}</td>
                    <td>
                      {% if sala.ativa %}
                        Sim
                      {% else %}
                        Não
                      {% endif %}
                    </td>
                    <td>
                      <form>
                        <button
                          class="btn btn-sm btn-dark"
                          type="submit"
                          formaction="/salas/cadastrar"
                        >
                          Editar
                        </button>
                        <button
                          class="btn btn-sm btn-dark"
                          type="submit"
                          formaction="/salas/{{ sala.id }}/desativar"
                          formmethod="POST"
                        >
                          Desativar
                        </button>
                        <button
                          class="btn btn-sm btn-dark"
                          type="submit"
                          formaction="/salas/{{ sala.id }}/excluir"
                          formmethod="POST"
                        >
                          Excluir
                        </button>
                      </form>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock%}